<h1>
  Skills
</h1>
<form [formGroup]="empSkill">
  <ng-container formArrayName="empExperienceArray">
    <section *ngFor="let _ of empSkillArray.controls; index as i" class="emp-skill-card">
      <ng-container [formGroupName]="i"  >
        <label>
          skill:
        </label>
        <input
          type="text"
          formControlName="skill"
          (keyup)="getSkill($event)"
          id="skill"
          list="dynmic-skills"
          autocomplete="off"
          (blur)="storeNewSkill()">
        <datalist id="dynmic-skills">
          <option *ngFor="let item of skillListOptions" [value]="item">{{item}}</option>
        </datalist>
        <control-messages [control]="empSkillArray.controls[i].get('skill')"></control-messages>
        <label>
          rate: (out of 10)
        </label>
        <input type="number" formControlName="rate">
        <control-messages [control]="empSkillArray.controls[i].get('rate')"></control-messages>
      </ng-container>
      <div class="emp-skill-button">
        <button *ngIf="empSkillArray.controls.length > 1" (click)="deleteSkill(i)">remove</button>
      </div>
    </section>
  </ng-container>
</form>
<div class="emp-skill-button">
  <button (click)="addskill()">Add skill</button>
</div>
<div class="emp-skill-button emp-skill-button-center">
  <button type="submit"> Submit </button>
</div>
