button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.emp-list-update-delete {
  display: flex;
  align-items: center;
}
.emp-list-add {
  width: 100%;
}
