<table class ="table-data" *ngIf="settings && tableData">
  <tr>
    <th  *ngFor="let definition of settings.fieldDefinition" >
      {{definition.heading}}
    </th>
  </tr>
  <tr *ngFor="let data of tableData ; let i  = index">
    <td *ngFor="let definition of settings.fieldDefinition">
      {{iTableSharedFunctionService.mutiValueCombination(data,definition.contentArray, definition.type, definition.callMethod)}}
    </td>
  </tr>
</table>
<div class="no-data" *ngIf="tableData && tableData.length === 0">
  No data to display
</div>
